body{
    font-family: 'Noto Sans JP', sans-serif;
}
.search{
    position:absolute;
    top: 100px;
    height:500px;
    width:100%;
    padding-top:30vh;
}

.search-form{
    width:80%;
    margin:auto;
    text-align: center;
}

.form-control{
    border-color: #4D4D4D;
}

.btn{
    margin-top: 20px;
}

.btn-outline-success{
    background-color: #ffffff;
    color: #4D4D4D;
    border-color: #4D4D4D;
}

.btn-outline-success:hover,
.btn-outline-success:active,
.btn-outline-success:visited,
.btn-outline-success:focus,
.btn-outline-success.disabled{
    background-color: #4D4D4D;
    color: #ffffff;
    border-color: #4D4D4D;
}


/* about */
i.konna{
    color: #f4623a;
}
span.AIUEOcolor{
    color: #006E50;
    font-weight: 700;
}
p.AIUEOsize{
    font-size: 19px;
}
.aboutsvg{
    width: 40%;
}
.aboutsvg2{
    width: 47%;
}
.aboutsvg3{
    width: 70%;
}

/* result responsive */

@media (min-width: 992px) {
    .font-res {
        font-size: 25px;
    }
    .img-res img{
        width: 400px;
    }
}
@media (max-width: 991.98px) {
    .font-res {
        font-size: 17px;
    }
    .img-res img{
        width: 350px;
    }
}
@media (max-width: 767.98px) {
    .font-res {
        font-size: 20px;
    }
    .img-res img{
        width: 500px;
    }
}
@media (max-width: 575.98px) {
    .font-res {
        font-size: 17px;
    }
    .img-res img{
        width: 500px;
    }
}
