<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>team_c</title>
    <meta name="description" content="サイトキャプションを入力">
    <meta name="keywords" content="サイトキーワードを,で区切って入力">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--マニフェスト & icon
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    -->
    <!-- Place favicon.ico in the root directory -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <!-- header -->
    <header>
        <nav class="navbar navbar-light navbar-expand-md " style="background-color: #ccefbf;">
            <a class="navbar-brand" href="./index.html">
                AIUEO
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#responsiveMenu" aria-controls="responsiveMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="responsiveMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="./">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./">About</a> 
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="page-section" style="margin-bottom:10rem">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-5 mb-5" style="color: #006E50;">AIUEO</h2>
            <p class="text-black-75 mb-12 text-center">
                <font style="color: #006E50;">AI</font>によるM<font style="color: #006E50;">U</font>SICで<font style="color: #006E50;">E</font>B<font style="color: #006E50;">O</font>OKを楽しく！
            <hr class="divider" />
            <h2 class="text-center mt-5" >こんな時に</h2>
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-4 col-md-12 text-center">
                    <div class="mt-5">
                        <div class="mb-3"><i class="fas fa-train fa-4x" style="color: #f4623a;"></i></div>
                        
                        <h3 class="h4 mb-2">電車のガヤガヤ</h3>
                        <p class="text-muted mb-0">電車のガヤガヤがなくなって落ち着けるよ～～～</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 text-center">
                    <div class="mt-5">
                        <div class="mb-3"><i class="fas fa-book fa-4x" style="color: #f4623a;"></i></div>
                        <h3 class="h4 mb-2">本の世界観に入り込みたいとき</h3>
                        <p class="text-muted mb-0">本の世界観に入り込めるよ～～～</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 text-center">
                    <div class="mt-5">
                        <div class="mb-3"><i class="fas fa-bed fa-4x" style="color: #f4623a;"></i></div>
                        <h3 class="h4 mb-2">リラックス</h3>
                        <p class="text-muted mb-0">本に合う曲をAIが自動選曲するのでリラックスすることができます</p>
                    </div>
                </div>

            </div>
        </div>
</div>
</section>

    
    <!-- footer -->
    <footer class="fixed-bottom" style="background-color:#ccefbf;">
        <div class="container-fluid center-block">
            <p class="text-muted text-center mt-3 mb-3">@MediaDo Tech Internship2021 ヘビーユーザー</p>
        </div>
    </footer>
    <script src="../static/js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>