<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>team_c</title>
    <meta name="description" content="サイトキャプションを入力">
    <meta name="keywords" content="サイトキーワードを,で区切って入力">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--マニフェスト & icon
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    -->
    <!-- Place favicon.ico in the root directory -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <!-- header -->
    <header>
        <nav class="navbar navbar-light navbar-expand-md " style="background-color: #ccefbf;">
            <a class="navbar-brand" href="./">
                AIUEO
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#responsiveMenu" aria-controls="responsiveMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="responsiveMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about">About</a> 
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-5 mb-2" style="color: #006E50;">AIUEO</h2>
        <p class="text-muted mb-2 text-center AIUEOsize">
            <span class="AIUEOcolor">AI</span>によるM<span class="AIUEOcolor">U</span>SICで<span class="AIUEOcolor">E</span>B<span class="AIUEOcolor">O</span>OKを楽しく！
        </p>
        <hr class="divider" />
    </div>

    
    <!-- search -->
    <div class="search">
        <div class="container">
            <!-- actionに結果を表示するhtmlのパスを指定してください. -->
            <form class="search-form" action="/" method="POST">
                <input class="form-control me-2" type="search" name="title" placeholder="本のタイトルを入力してください" aria-label="Search">
                <button class="btn btn-outline-success"  type="submit">検索</button>
            </form>
        </div>
    </div>
    <div class="container">

    
    <!-- footer -->
    <footer class="fixed-bottom" style="background-color:#ccefbf;">
        <div class="container-fluid center-block">
            <p class="text-muted text-center mt-3 mb-3">@MediaDo Tech Internship2021 ヘビーユーザー</p>
        </div>
    </footer>
    
    <script src="../static/js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>